#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages that Data Scientists use
*  Commonly used libraries used by Data Scientists
*  Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Ggplot
2. Scikit-learn
3. Matplotlib
4. Pandas
5. Numpy
6. Seaborn

Below are a few examples of evaluating arithmetic expressions in Python:
1. Arithmetic (2+2)
2. Subtraction (2-2)
3. Multiplication (2*2)
4. Float Division (2//2)
5. Integer Division (2/2)
6. Exponentiation (2**2)

In [5]:
(3*4)+5

17

-----

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

##Author

PB